
slir-error-log

cache/rendered/*

.DS_Store
=======
*.class

# Package Files #
*.svn
*.war
*.ear
*.settings
*.classpath
*.project
*.DS_Store
Thumbs.db
originals/*
w100/*

.buildpath

w150/originals/*

w200-c3:2/*

w500-c2:2/*
w500-c3:2/*